# Core latex/pdflatex auxiliary files:
*.log
*.aux
#*.bbl
*.blg
*.out
*.run.xml
*.synctex
*.synctex.gz
*.toc
*.tps
*.tcp
*-blx.bib
*.mp
*.t1
*.nav
*.snm
*.ax1
*.ax2
*.xmpdata
*.xmpi
*.bcf
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*eps-converted-to.pdf

#Python auxiliary files:
__pycache__

#Logos
logos/crctr2112.eps
logos/crctr211.eps
logos/dfg.eps
logos/hgs-hire.eps
logos/MartinJSteil-Unterschrift.pdf
logos/tuda_logo.pdf

#Links
*.lnk